# Created by .ignore support plugin (hsz.mobi)
target/*
!target/BanzaiServer-1.0-SNAPSHOT-jar-with-dependencies.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.idea
*.iml
external/shell.txt
external/Roadmap.txt