<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>

        <Console name="stdout" target="SYSTEM_OUT">

            <PatternLayout pattern="%style{%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss}}}{blue} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue} %logger{36} - %message\n"/>

        </Console>


        <File name="fout" fileName="./logfiles/application-${date:yyyyMMdd}.log" immediateFlush="false" append="true">

            <PatternLayout pattern="%style{%date{DEFAULT}}{yellow} [%t] %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=blue} %logger{36} - %message\n"/>

        </File>

    </Appenders>

    <Loggers>

        <Root level="debug">
            <AppenderRef ref="fout" level="error" />
            <AppenderRef ref="stdout" level="debug" />
            <AppenderRef ref="stdout" level="info" />
        </Root>

    </Loggers>
</Configuration>

<!--
Pattern Layouts
<PatternLayout pattern="%style{%date{DEFAULT}}{yellow} [%t] %highlight{%-5level}{FATAL=bg_red blink, ERROR=red, WARN=yellow, INFO=blue} %logger{36} - %message\n" />
<PatternLayout disableAnsi="false" pattern="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue} %style{}{magenta} [%M] %style{%40C}{cyan} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%xEx}" />
-->

<!--  Notes
Logger is a logger that can be used with its name in java file:
    Logger rfLogger = LogManager.getLogger("sss");
-->

